
WeatherApp/9-17 -> 9-19 Defining a TabView/
WeatherApp/9-20 Changing the size of the icons/
WeatherApp/9-21 -> 9-22 Identifing the views with a tag/
WeatherApp/9-23 Defining a model to store data about the weather/
